body {
	font-family: Segoe UI, sans-serif;
	font-size: 11pt;
	margin:0 0 0 0;
	background: #eee url("../images/background.png");
}
code {
	font-size: 12pt;
}
p {
	line-height: 1.2em;
}
.contenido {
	width: 650px;
	margin: 0 auto;
	padding: 40px;
	border-width: 0px thin;
	text-align: justify;
	background: #fff url(../images/fondo.png) repeat-x;
}
